version: '3.8'

services:
  db:
    container_name: postgres
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  web:
    container_name: odoo
    image: odoo:18.0
    depends_on:
      - db
    ports:
      - "8069:8069"

    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

    volumes:
      - ./addons:/mnt/extra-addons
      - ./odoo-data:/var/lib/odoo
      - ./config/odoo.conf:/etc/odoo/odoo.conf

volumes:
  postgres-data:
  odoo-data: